# obsidian
.obsidian/

# deps/build
node_modules/
.wrangler/
.next/
out/
dist/
coverage/
*.tsbuildinfo

# env
.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

